/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* MAIN STYLE */
html {
    font-family: "Tauri", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
}

p {
    color: #bdbdbd;
}

/* SIDE BAR */
#side-bar {
    padding: 1em;
    background-color: #1992d4;
    color: #ffffff;
}

.white-svg {
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(42deg) brightness(105%) contrast(107%);
}

.side-bar-element {
    margin-bottom: 3vh;
}

.side-bar-container {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    align-items: center;
}

#side-bar .buttons-container h3{
    font-size: 1.5em;
}

#side-bar .buttons-container img{
    transform: scale(0.5);
}

/* MAIN */
#main {
    display: flex;
    flex-flow: column nowrap;
}

/* HEADER */
#header {
    padding: 2.5vh 2.5vw;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* TOP HEADER */
#top-header {
    /* background-color: #1992d4; */
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 8vw;

    margin-bottom: 2em;
}

#search-bar { 
    /* background-color: #1992d4; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#search-bar img {
    height: max(3.5vh, 25px);
    /* margin-left: 7vw; */
}

#search-bar input {
    background-color: #e2e8f0;
    height: max(4vh, 30px);
    width: 90%;
    border-radius: 18px;
    border: none;
    padding: 0.25em 1em;
}

#top-profile {
    /* background-color: #1992d4; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#top-profile h3 {
    font-size: 1.5em;
}

#bell-icon{
    height: max(3.5vh, 25px);
}

.pfp img {
    transform: scale(0.1);
}

.pfp {
    /* position: relative; */
    width: 60px; 
    height: 60px; 
    overflow: hidden; 
    border-radius: 50%;

    display: grid;
    place-content: center;
}

/* MAIN HEADER */
#main-header {
    /* background-color: #1992d4; */
    /* padding: 0 2.5vw; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0px 12px 4px rgb(0, 0, 0, 0.4); */
}

#left-part {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#left-part .pfp {
    width: 100px;
    height: 100px;
}

#left-part .pfp img {
    transform: scale(0.15);
}

#pfp-text h4{
    margin-bottom: 0.5em;
}

#right-part {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#right-part button {
    width: 6vw;
    height: 2.5vw;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #1992d4;
    color: #ffffff;
    border: none;
    border-radius: 32px;
}

/* MAIN CONTENT */
#main-content {
    background-color: #e2e8f0;
    flex-grow: 1;

    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    gap: 2rem;
    padding: 3em 1em;
}

/* PROJECT SECTION */
#project-section h2 {
    margin-bottom: 1rem;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 200px;
    gap: 1em;
}

.project {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    overflow: hidden;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
}

.project h1 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.project img {
    margin-top: auto;
    align-self: flex-end;
    height: 4vh;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 98%;
    left: 0;
    background-color: #f0b429;
}

/* ANNOUNCEMENTS */
#announcements {
    margin-bottom: 2rem;
}

#announcements h2 {
    margin-bottom: 1rem;
}

#news {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 2rem;
    width: 90%;
}

.news-element {
    padding: 1rem;
}

.news-element:nth-of-type(1),
.news-element:nth-of-type(2) {
    border-bottom: 1px solid #bdbdbd;
}

.news-element h3 {
    margin-bottom: 0.3rem;
}

/* TRENDING */
#trending h2 {
    margin-bottom: 1rem;
}

#trending-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 2rem;
    width: 90%;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.trending-element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.text-container .trending-name{
    align-self: flex-start;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#avatar1 {
    background-image: url("./img/pfp_2.webp");
}

#avatar2 {
    background-image: url("./img/pfp_1.webp");
}

#avatar3 {
    background-image: url("./img/pfp_3.jpg");
}

#avatar4 {
    background-image: url("./img/pfp_4.webp");
}

